<!DOCTYPE html>
<html lang="de">
  {% include "head.njk" %}
  <body>
    <header>
      <img src="/assets/images/Filafil-Logo-sw.svg" alt="Fil à Fil Logo hell" class="logo logo-light" />
      <img src="/assets/images/Filafil-Logo-weiss.svg" alt="Fil à Fil Logo dunkel" class="logo logo-dark" />
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>&copy; 2025 Fil à Fil – Daniela Britschgi</p>
    </footer>
  </body>
</html>
