<head>
  <meta charset="UTF-8" lang="de"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <meta name="description" content="Handgewebtes Atelier Fil à Fil – Textilien mit Liebe zum Detail." />
  <meta name="author" content="Daniela Britschgi" />
  <link rel="stylesheet" href="/styles.css" />
  <link rel="preload" href="/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf" as="font" type="font/truetype" crossorigin="anonymous">
</head>
